*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container1{
    max-width: 1200px;
    padding: 10px 30px;
    
}
.row{
    display: flex;
    
                    
}
.justyfy{
    justify-content: space-between;
}
.main-header .row {
	align-items: center;
}

/* DEBUG  */
 .row{/*DEBUG HEADER*/
    background-color: rgb(112, 98, 71);
    border: 3px dashed black; 
    
}  
/* container 3 debug */
.container3{
    background-color: rgb(243, 243, 243);

    max-width: 1200px;
    padding: 10px 30px;
    height: 150px;
    
}
/* COL2 DEBUG */
.col2{
    background-color: blueviolet;
    height: 100px;
}
/* DEBUG RAW2 */
.row2{
   background-color: blue;
    
}

.container2{/* DEBUG-CONTAINER2*/
    background-color: blue;

}
.col .accedi{/*DEBUG ACCEDI*/
    border: 3px dashed black;

}
.col .Logo{/*DEBUG LOGO*/
    border: 3px dashed black;      
}
.debug .main-header {
	background-color: #add8e6;
	padding: 20px 0;
}
