*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.container1{
    max-width: 1200px;
    padding: 10px 30px;
    
}
.debugH{
    background-color: aquamarine;
    min-height: 40px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction:  row;               
}
.row{/*DEBUG HEADER*/
    background-color: rgb(112, 98, 71);
    border: 3px dashed black; 
    
}
.bordi{
    padding: 5px 30px;
}

.collink{
  align-items: flex-start;
  align-items: center;
}
.col-Logo{/*DEBUG LOGO*/
    border: 3px dashed black;
   

}
.Accedi{/*DEBUG ACCEDI*/
    border: 3px dashed black;

}